.App {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.diary-entry {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

.diary-entry h2 {
  color: #333;
}

.diary-entry img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

form,
.change-password {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

textarea,
input[type="password"] {
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login form {
  width: 300px;
}

.login input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}