@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global CSS file */
.dark .quill {
  background-color: #2d3748;
  color: #e2e8f0;
}

.dark .ql-toolbar {
  border-color: #4a5568;
}

.dark .ql-toolbar button,
.dark .ql-toolbar button svg {
  color: #e2e8f0;
}

.dark .ql-editor {
  color: #e2e8f0;
}

.dark .ql-editor.ql-blank::before {
  color: #a0aec0;
}